<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Gaming Dashboard</span>
  </mat-toolbar-row>
</mat-toolbar>
<div class="example-container mat-elevation-z8">
  <div class="example-loading-shade"
       *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <mat-table #table [dataSource]="dataSource" class="example-table"
  matSort matSortActive="created" matSortDisableClear matSortDirection="asc">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
      <mat-cell *matCellDef="let game"> {{game.id}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef> Title </mat-header-cell>
      <mat-cell *matCellDef="let game"> {{game.title}} </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container cdkColumnDef="url">
      <mat-header-cell *cdkHeaderCellDef> URL </mat-header-cell>
      <mat-cell *cdkCellDef="let game"> {{game.url}} </mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="platform">
      <mat-header-cell *matHeaderCellDef> Platform </mat-header-cell>
      <mat-cell *matCellDef="let game"> {{game.platform}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="genre">
      <mat-header-cell *matHeaderCellDef> Genre </mat-header-cell>
      <mat-cell *matCellDef="let game"> {{game.genre}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="score">
      <mat-header-cell *matHeaderCellDef> Score </mat-header-cell>
      <mat-cell *matCellDef="let game"> {{game.score}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="editors_choice">
      <mat-header-cell *matHeaderCellDef> Editor's choice </mat-header-cell>
      <mat-cell *matCellDef="let game"> {{game.editors_choice}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="release_year">
      <mat-header-cell *matHeaderCellDef> Release year </mat-header-cell>
      <mat-cell *matCellDef="let game">{{game.release_year}}  </mat-cell>
    </ng-container>

    <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *cdkRowDef="let row; columns: displayedColumns;"></mat-row>
    
  </mat-table>
  <mat-paginator [length]="resultsLength" [pageSize]="30">
  </mat-paginator>

</div>
